.git
.gitignore

node_modules
server/node_modules

dist
dist-ssr
server/dist
coverage
server/coverage

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example
server/.env
server/.env.*
!server/.env.example

server/uploads

.DS_Store
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?